<div class="card" style="border:silver solid 1px; ">
    <div class="card-header d-flex p-0" style="border:silver solid 1px; ">
        <button type="button" class="btn">

            <span class="btn btn-success ">GET</span>
            <span class="path text-white "  >
                /WeatherForecast
            </span>


        </button>
    </div>
    <div class="card-body collapse" >

        <h5>Description</h5>
        <div>

            Parameters
            <div>
               <ul>
                   <li>Names</li>
                   <li>Descrpition</li>
                   </ul>
            </div>
        </div>
    </div>

</div>