<div class="card card-body" style="border:1px dashed silver">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" />

            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Description</label>
                <textarea type="text" class="form-control"></textarea>

            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">IN</label>
                <select class="form-control">
                    <option value="">query</option>
                    <option value="">path</option>
                    <option value="">header</option>
                    <option value="">cookie</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Schema</label>

                <input type="text" class="form-control" />

            </div>

        </div>
    </div>
</div>
